extends ../public/layout/homepage.layout.pug
block content
    h1 thanh thao 
    a(class="btn btn-primary",href="http://localhost:3000/user/login") login 
    a(class="btn btn-primary",href="http://localhost:3000/user/register") register