extends ../public/layout/homepage.layout.pug
block content
    if error 
        each err in error
            .alert.alert-danger= err
    form(method='post',action='')
        input(type="hidden", name="_csrf",value=data?data._csrf:csrfToken)
        .form-group
            label(for='exampleInputEmail1') Username
            input#exampleInputEmail1.form-control(type='text',name='username',value=data?data.username:'')
        .form-group
            label(for='exampleInputPassword1') Amount
            input#exampleInputPassword1.form-control(type='number',name='amount', value=data?data.amount:'')
        .form-check
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='exampleCheck1') Check me out
        button.btn.btn-primary(type='submit') Submit